body {
    min-height: 100vh;
    padding: 0 10px;
    font-family: sans-serif;
}

header {
    min-height: 20px;
}

footer {
    position: sticky;
    top: 100%;
    min-height: 80px;
}

section {
    margin: 0 15px;
}

p {
    margin: 0;
}

hr {
    margin: 0;
    height:2px;
    background: black;
    border: none;
}

